name: Add Issues and PRs to Project Board

on:
  issues:
    types:
      - opened
      - reopened
  pull_request:
    types:
      - opened
      - reopened

jobs:
  add-to-project:
    name: Add to project
    runs-on: ubuntu-latest
    steps:
      - name: Add to project
        uses: actions/add-to-project@v1.0.2
        with:
          # Note: This requires a project URL and a GitHub token with appropriate permissions
          # The project URL should be in the format: https://github.com/orgs/<org>/projects/<project-number>
          # or https://github.com/users/<user>/projects/<project-number>
          # You'll need to configure this with a secret containing a PAT with project permissions
          project-url: ${{ vars.PROJECT_URL }}
          github-token: ${{ secrets.ADD_TO_PROJECT_PAT }}
